body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
}

#chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#message-thread {
    flex-grow: 1;
    overflow-y: auto;
    margin: 10px;
    padding: 10px;
    background-color: #1E1E1E;
    border-radius: 10px;
}

#message-input {
    display: flex;
    padding: 10px;
    background-color: #252526;
}

#text-message {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #333;
    color: #ddd;
}

#send-message {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #007ACC;
    color: white;
    cursor: pointer;
}

#send-message:hover {
    background-color: #005EA6;
}

.message {
    max-width: 80%;
    color: #000;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px;
    word-wrap: break-word;
}

.user-message {
    align-self: flex-end;
    background-color: #007ACC;
    color: white;
}

.response-message {
    align-self: flex-start;
    background-color: #4CAF50;
    color: white;
}

#message-thread {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    margin: 10px;
    padding: 10px;
    background-color: #1E1E1E;
    border-radius: 10px;
}
code {
    border-radius: 10px; /* Assure que les coins extérieurs sont également arrondis */
    overflow: hidden; /* Empêche les bordures intérieures de dépasser les coins arrondis */
}
.code-container {
    position: relative; /* Permet le positionnement absolu des éléments enfants */
}

.copy-code-button {
    position: absolute; /* Positionne le bouton par rapport à son conteneur parent */
    top: 0; /* Aligné en haut */
    right: 0; /* Aligné à droite */
    margin-right: 10px; /* Ajustez selon la taille de votre bouton pour le déplacer à l'extérieur */
    margin-top: 5px; /* Petit ajustement pour l'espacement en haut */
    cursor: pointer; /* Change le curseur pour indiquer l'action */
}

.config-panel {
    position: fixed;
    top: 0;
    right: -300px; /* Commence caché sur le côté */
    width: 300px;
    height: 100%;
    background-color: #333;
    color: white;
    overflow-y: auto;
    transition: right 0.5s ease;
    z-index: 1000; /* Assure qu'il est au-dessus des autres éléments */
}

.config-panel.open {
    right: 0; /* Déployé */
}

.config-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.config-form label {
    margin-bottom: 10px;
}

.config-form input[type="number"],
.config-form textarea,
.config-form input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

#toggle-config {
    position: fixed;
    right: 300px; /* Ajustez cette valeur si la largeur du panneau change */
    top: 20px;
    cursor: pointer;
}

/* Ajoutez des styles supplémentaires au besoin */
